<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--<connectionStrings>
		<add name="strCon" providerName="System.Data.SqlClient"
		connectionString="Data Source=LAPTOP-79FI3N93\SQLEXPRESS;Initial Catalog=CafeShop;Persist Security Info=True;User ID=sa;Password=123"/>
	</connectionStrings>-->
	<connectionStrings>
		<add name="strCon" providerName="System.Data.SqlClient"
		connectionString="Data Source=LAPTOP-0H23TTCU;Initial Catalog=QLQuanCafe;Persist Security Info=True;User ID=sa;Password=1"/>
	</connectionStrings>
	
	
</configuration>